@model HomePageViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>@ViewBag.CtxId</h2>
    <h3>@Model</h3>
    <table>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td><a href="/Home/Detail/@employee.ID">@employee.ID</a></td>
                <td>@employee.Name</td>
            </tr>
        }
    </table>

    <br />
    <p><a asp-action="Create">新增员工</a></p>
</body>
</html>
